@font-face {
    font-family: "aqua";
    src: url("aqua.ttf");
}

p {
    /* font: 4em solid #37474f; */
    font-family: "aqua";
    margin: auto;
    color: black;
    font-size: 4vmin;
    font-weight: lighter;
    margin: 0px;
    /* text-size-adjust: 80%; */
}

body {
    background-image: url("p_bg.jpg");
    background-position: center;
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    touch-action: none;
}

/* @media screen and (min-width: 601px) {
    .head1 {
        font-size: 7vw;
        font-weight: 600;
    }

    .sub {
        font-size: 5vw;
        font-weight: thin;
    }
    .main-centered {
        margin: auto;
        width: 50%;
         padding: 5em; 
        text-align: justify;
         padding: 70px 0; 
        vertical-align: text-top;
    }
}

@media screen and (max-width: 600px) {

}     */
.head1 {
    font-size: 5vmin;
    font-weight: 600;
}

.sub {
    font-size: 5vmin;
    font-weight: thin;
}

.main-centered {
    margin: auto;
    width: 80%;
    /* padding: 5em; */
    text-align: justify;
    /* padding: 70px 0; */
    vertical-align: text-top;
}
/* 
.head1 {
    font-size: 7vh;
    font-weight: 600;
} */


.ml12 {
    font-weight: thin;
    font-size: 2.5vmin;
    font-weight: lighter;
}

.ml12 .letter {
    display: inline-block;
    line-height: 0.5vmin;
}

.main-centered {
    margin: auto;
    width: 80%;
    /* padding: 5em; */
    text-align: justify;
    /* padding: 70px 0; */
    vertical-align: text-top;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.box-button {
    width: 100%;
    justify-content: center;
    height: 15vh;
    text-align: center;    
}



ul {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    justify-content: center;
    display: flex;
}

ul li {
    list-style: none;
}

ul li a {
    display: block;
    position: relative;
    width: 10vmin;
    height: 10vmin;
    line-height: 10vmin;
    font-size: 5vmin;
    text-align: top;
    text-decoration: none;
    color: #ebd7c3;
    margin: 1vw 1vw;
    transition: .5s;
}

ul li a span {
    position: absolute;
    transition: transform .5s;
}

ul li a span:nth-child(1),
ul li a span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: #ebd7c3;
}

ul li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

ul li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s;
}

ul li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

ul li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

ul li a span:nth-child(2),
ul li a span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: #ebd7c3;
}

ul li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scale(0);
    transform-origin: bottom;
}

ul li a:hover span:nth-child(2) {
    transform: scale(1);
    transform-origin: top;
    transition: transform .5s;
}

ul li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scale(0);
    transform-origin: top;
}

ul li a:hover span:nth-child(4) {
    transform: scale(1);
    transform-origin: bottom;
    transition: transform .5s;
}

ul li a .linkedin {
    color: #1da1f2;
}

ul li a:hover:nth-child(3) {
    color: #c32aa3;
}

ul li a:hover:nth-child(4) {
    color: #dd4b39;
}


.email:hover {
    color: #3b5998;
}

.email:hover span {
    background: #3b5998;
}

.linkedin:hover {
    color: #1da1f2;
}

.linkedin:hover span {
    background: #1da1f2;
}

.instagram:hover {
    color: #c13584;
}

.instagram:hover span {
    background: #c13584;
}

.github:hover {
    color: white;
}

.github:hover span {
    background: white;
}

.email:hover {
    color: #d32f2f;
}

.email:hover span {
    background: #d32f2f;
}

.shootingstars {
    margin: 0;
    padding: 0;
    width: 100vh;
    height: 150vw;
    position: fixed;
    overflow: hidden;
    transform: translatex(calc(50vw - 50%)) translatey(calc(50vh - 50%)) rotate(120deg);
}

.wish {
    height: 4px;
    top: 300px;
    width: 100px;
    margin: 0;
    opacity: 0;
    padding: 0;
    background-color: white;
    position: absolute;
    background: linear-gradient(-45deg, white, rgba(0, 0, 255, 0));
    filter: drop-shadow(0 0 8px white);
    overflow: hidden;
}